@import "./globals.css";

.simpleBtn {
  @apply rounded-full p-1 cursor-pointer hover:bg-gray-200 dark:hover:bg-neutral-800;
}
.simpleBtnFocus {
  @apply rounded-full p-1 cursor-pointer hover:bg-gray-200 dark:hover:bg-neutral-800 focus:bg-gray-200 dark:focus:bg-neutral-800;
}

/* --------------------------------- primaryBtn --------------------------------- */
.primaryBtn {
  @apply py-5 px-10 bg-dark-gray;
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  margin-top: 60px;

  color: white;
  font-size: 20px;
  border-radius: 10px;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
  z-index: 1;
  opacity: 1;
}

.primaryBtn::before,
.primaryBtn::after {
  content: "";
  position: absolute;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary);
  z-index: -1;
}

.primaryBtn::before {
  left: -20px;
}

.primaryBtn::after {
  right: -20px;
}

.primaryBtn:hover::before {
  animation: leftCircle 0.6s linear forwards;
}

@keyframes leftCircle {
  60% {
    left: 46%;
    transform: scale(1);
  }

  100% {
    left: 46%;
    transform: scale(17);
  }
}

.primaryBtn:not(:hover)::before {
  animation: removeLeftCircle 0.6s linear forwards;
}

@keyframes removeLeftCircle {
  0% {
    left: 46%;
    transform: scale(12);
  }

  40% {
    left: 46%;
    transform: scale(1);
  }

  100% {
    left: -20px;
  }
}

.primaryBtn:hover::after {
  animation: rightCircle 0.6s linear forwards;
}

@keyframes rightCircle {
  60% {
    right: 46%;
    transform: scale(1);
  }

  100% {
    right: 46%;
    transform: scale(12);
  }
}

.primaryBtn:not(:hover)::after {
  animation: removeRightCircle 0.6s linear forwards;
}

@keyframes removeRightCircle {
  0% {
    right: 46%;
    transform: scale(12);
  }

  40% {
    right: 46%;
    transform: scale(1);
  }

  100% {
    right: -20px;
  }
}

/* --------------------------------- secondaryBtn --------------------------------- */
.secondaryBtn {
  @apply text-lg text-white inline-block w-full py-5 px-10 rounded-lg text-center hover:bg-primary focus:bg-primary bg-dark-gray;
}

/* --------------------------------- basicBtn --------------------------------- */
.basicBtn {
  @apply text-lg inline-block w-full py-5 px-10 rounded-lg text-center border border-dark-gray bg-transparent! hover:bg-dark-gray! hover:text-white focus:bg-dark-gray! focus:text-white;
}

/* --------------------------------- chip --------------------------------- */
.chip {
  @apply bg-primary text-white rounded-md px-2 hover:scale-105 focus:scale-105;
}
