@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --primary: #a886e4;
  --secondary: #d1bff1;
  --light: #f2e2ff;
  --dark: #a855f7;

  --gray: #939393;
  --dark-gray: #333;

  --background: #eee;
  --foreground: #111;
}

[data-theme="dark"] {
  --background: #111;
  --foreground: #eee;
}

* {
  scroll-behavior: smooth;
  transition: all 0.5s;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light: var(--light);
  --color-dark: var(--dark);
  --color-gray: var(--gray);
  --color-dark-gray: var(--dark-gray);
  --color-background: var(--background);
  --font-raleway: var(--font-raleway);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  user-select: none;
  box-sizing: border-box;
  font-family: Raleway;
}

section {
  @apply my-44;
}

.x-spacing {
  @apply px-5 sm:px-16 md:px-24 lg:px-32 overflow-x-hidden;
}

.h1 {
  @apply text-3xl lg:text-4xl xl:text-6xl font-medium;
}
.h2 {
  @apply text-2xl lg:text-3xl xl:text-5xl;
}
.h3 {
  @apply text-2xl lg:text-2xl xl:text-4xl;
}
.h4 {
  @apply text-lg lg:text-lg xl:text-2xl;
}

.errorMsg {
  @apply text-red-500 text-sm mt-1;
}
