@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --primary: #a886e4;
  --secondary: #d1bff1;
  --light: #F2E2FF;

  --gray: #939393;

  --background: #eee;
  --foreground: #111;
}

[data-theme="dark"] {
  --background: #111;
  --foreground: #eee;
}

* {
  scroll-behavior: smooth;
  transition: all 0.5s;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-light: var(--light);
  --color-gray: var(--gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  user-select: none;
  box-sizing: border-box;
}

section {
  min-height: 100dvh;
}

.x-spacing {
  @apply px-5 sm:px-16 md:px-24 lg:px-32 overflow-x-hidden;
}

.h1 {
  @apply text-3xl lg:text-4xl xl:text-6xl;
}

.h2 {
  @apply text-2xl lg:text-2xl xl:text-4xl;
}
