html,
body {
  --sb-thumb-color: var(--primary);
  --sb-track-color: #232e33bc;
  --sb-size: 14px;
}

/* WebKit */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: var(--sb-size);
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  /* border-radius: 3px; */
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  /* border-radius: 3px; */
}

/* Firefox */
@supports not selector(::-webkit-scrollbar) {
  html,
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
